@model IEnumerable<Football.App.Models.MatchViewModel>

@{
    ViewData["Title"] = "Players";
}

<div class="d-flex justify-content-between align-items-center mb-3">
    <h1>Latest matches</h1>
    <a href="@Url.Action("AddMatch", "Match")" class="btn btn-primary">New Match</a>
</div>


<table class="table">
    <thead>
        <tr>
            <th>Team1</th>
            <th>Score</th>
            <th>Team2</th>
            <th>Date</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var match in Model)
        {
            <tr>
                <td>@match.Player1!.Name + @match.Player2!.Name</td>
                <td>@match.Score1 : @match.Score2</td>
                <td>@match.Player3!.Name + @match.Player4!.Name</td>
                <td>@match.Date.ToShortDateString()</td>
            </tr>
        }
    </tbody>
</table>

