@model IEnumerable<Football.App.ViewModels.MatchViewModel>

@if (Model != null && Model.Any())
{
    @foreach(var match in Model)
    {
        <div class="card my-3">
            <div class="d-flex flex-column flex-sm-row align-items-center justify-content-center text-center">
                <h5 class="col-sm-5 col-12 p-2 mx-2">@match.Team1Player1Name + @match.Team1Player2Name</h5>
                <div class="col-sm-2 col-12 d-flex flex-column align-items-center justify-content-center" style="height: max-content">
                    <h5 class="m-0">@match.Score1 : @match.Score2</h5>
                    <p class="m-0">@match.Date.ToShortDateString()</p>
                </div>
                <h5 class="col-sm-5 col-12 p-2 mx-2">@match.Team2Player1Name + @match.Team2Player2Name</h5>
            </div>
        </div>
    }
}
else
{
    <p>No matches available.</p>
}