@model Football.App.ViewModels.RankingViewModel

@if (Model != null)
{
    <h5>@Model.LeagueName (@Model.LeagueStart.ToShortDateString() - @Model.LeagueEnd.ToShortDateString())</h5>
    <div class="table-responsive">
        <table class="table table-hover">
            @if (Model.Type == Football.App.ViewModels.TableType.Top)
            {
                <thead>
                    <tr>
                        <th class="text-center text-nowrap">#</th>
                        <th class="text-nowrap">Name</th>
                        <th class="text-center text-nowrap">
                            <span>
                                Matches
                            </span>
                            </th>
                        <th class="text-center text-nowrap" >
                            <span>
                                Points
                            </span>
                        </th>
                        <th class="text-center text-nowrap">
                            <span>
                                Win rate
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Ranking.Count(); i++)
                    {
                        var player = Model.Ranking.ElementAt(i);
                        <tr class="@(i == 0 ? "gold" : i == 1 ? "silver" : i == 2 ? "bronze" : "")">
                            <td class="text-center text-nowrap">
                                @if (i == 0)
                                {
                                    <i class="fas fa-medal gold"></i>
                                }
                                else if (i == 1)
                                {
                                    <i class="fas fa-medal silver"></i>
                                }
                                else if (i == 2)
                                {
                                    <i class="fas fa-medal bronze"></i>
                                }
                                else
                                {
                                    @(i + 1)
                                }
                            </td>
                            <td class="text-nowrap">@player.Name</td>
                            <td class="text-center text-nowrap">@player.CurrentMatches</td>
                            <td class="text-center text-nowrap">@player.CurrentPoints</td>
                            <td class="text-center text-nowrap">@player.RateWin.ToString("0.0", System.Globalization.CultureInfo.InvariantCulture)</td>
                        </tr>
                    }
                </tbody>
            }
            else
            {
                <thead>
                    <tr>
                        <th class="text-center text-nowrap">#</th>
                        <th class="text-nowrap">Name</th>
                        <th class="text-center text-nowrap">Matches</th>
                        <th class="text-center text-nowrap">
                            <span>Points</span>
                        </th>
                        <th class="text-center text-nowrap">
                            <span>
                                Win rate
                            </span>
                        </th>
                        <th class="text-center text-nowrap">
                            <span data-bs-toggle="tooltip" title="Points per match">
                                Pts\M
                            </span>
                        </th>
                        <th class="text-center text-nowrap">
                            <span data-bs-toggle="tooltip" title="Actual form in last 5 matches.">
                                Form
                            </span>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (int i = 0; i < Model.Ranking.Count(); i++)
                    {
                        var player = Model.Ranking.ElementAt(i);
                        <tr class="@(i == 0 ? "gold" : i == 1 ? "silver" : i == 2 ? "bronze" : "")">
                            <td class="text-center text-nowrap">
                                @if (i == 0)
                                {
                                    <i class="fas fa-medal gold"></i>
                                }
                                else if (i == 1)
                                {
                                    <i class="fas fa-medal silver"></i>
                                }
                                else if (i == 2)
                                {
                                    <i class="fas fa-medal bronze"></i>
                                }
                                else
                                {
                                    @(i + 1)
                                }
                            </td>
                            <td class="text-nowrap">@player.Name</td>
                            <td class="text-center text-nowrap">@player.CurrentMatches</td>
                            <td class="text-center text-nowrap">@player.CurrentPoints</td>
                            <td class="text-center text-nowrap">@player.RateWin.ToString("0.0", System.Globalization.CultureInfo.InvariantCulture)</td>
                            <td class="text-center text-nowrap">@player.CurrentPointsPerMatch.ToString("0.0", System.Globalization.CultureInfo.InvariantCulture)</td>
                            <td class="text-center text-nowrap">
                                @foreach (var form in player.Form)
                                {
                                    string badgeClass;
                                    string badgeText;
                                    string tooltipText;

                                    switch (form)
                                    {
                                        case Football.Data.Models.Result.Win:
                                            badgeClass = "bg-success";
                                            badgeText = "W";
                                            tooltipText = "Win";
                                            break;
                                        case Football.Data.Models.Result.Lose:
                                            badgeClass = "bg-danger";
                                            badgeText = "L";
                                            tooltipText = "Lose";
                                            break;
                                        default:
                                            badgeClass = "bg-secondary";
                                            badgeText = "-";
                                            tooltipText = "No match";
                                            break;
                                    }

                                    <span class="badge fixed-width @badgeClass" data-bs-toggle="tooltip" title="@tooltipText">
                                        @badgeText
                                    </span>
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            }
        </table>
    </div>
}
else
{
    <p>No players available.</p>
}

<style>
    .table-hover tbody tr:hover {
        background-color: #f5f5f5;
    }

    .info-icon {
        font-size: 1em;
        cursor: pointer;
        margin-left: 2px;
        margin-bottom: 5px
    }

    .gold {
        color: gold;
    }

    .silver {
        color: silver;
    }

    .bronze {
        color: #cd7f32;
    }

    .badge.fixed-width {
        width: 20px; /* Nastavte požadovanou šířku */
        height: 20px; /* Nastavte požadovanou výšku */
        display: inline-flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .table-responsive {
        overflow-x: auto
    }
</style>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    });
</script>
